<% provide(:title, "Home") %>
  <% if user_signed_in? %>
    <div class="row">
      <aside class="col-md-3">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
      </aside>
      <div class="col-md-9">
        <div class = "container">
          <div class ="row">
            <div class = "col-md-2">
              <h3>Posts <%= link_to "Create New Post", microposts_post_form_path, class: "btn  btn-success", id: "btnpost" %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </br>
    <div class="row">
      <div class = "col-md-2">
        <ul class="nav nav-tabs">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#archived">Archived</a>
          </li>
        </ul>
         <div class="tab-content" id = "tabs">
           <div id="active" class="container tab-pane active"><br>
              <%= render 'shared/microposts' %>
           </div>
           <div id="archived" class="container tab-pane"><br>
             <%= render 'shared/archivedposts' %>
           </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="center jumbotron" id= "divhome">
      <h2>Twitter Type Post</h2>
      <p>
        This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      <br>
      <br>
        <%= link_to "Sign up?", new_user_registration_path, class: "btn  btn-primary", id: "btnsignup" %>
      </p>
    </div>
<% end %>
