<div class="row" id= "micropost-<%= micropost.id %>">
  <div class="col-sm-6 col-md-6 col-lg-12">
    <div class="thumbnail" style="background-color:purple;">
    <%= gravatar_for micropost.user %>
      <div class="caption">
          <%= link_to "#{micropost.user.first_name} #{micropost.user.last_name}", micropost.user, style:"color:white" %>
          <span class="timestamp" style="color:white">
                Posted <%= time_ago_in_words(micropost.created_at) %> ago.
          </span>
      </div>
        <div class="center row" style="position:relative;margin-top:15px">
          <div class="col-sm-6 col-md-6 col-lg-12">
            <div class="thumbnail">
              <h4 class="title">
                <%= micropost.title %>
              </h4>
              <div class="caption" style="text-align:justify">
                   <%= micropost.content %>
              </div>
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default"> <%= link_to '<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>'.html_safe, micropost_like_path(micropost.id), method: :post %></button>
                  <button type="button" class="btn btn-default"><%= link_to '<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>'.html_safe, micropost_dislike_path(micropost.id), method: :post %></button>
                    <% if current_user == micropost.user %>
                     <% if micropost.archived == false %>
                       <button type="button" class="btn btn-default">
                         <%= link_to "Archiev", micropost, method: :delete, data: { confirm: "You sure?" } %>
                       </button>
                     <% end %>
                   <% end %>
                </div>
                <p id = "like">Likes <%= micropost.likes.where(liked: true).count %>
                  Dislikes
                  <%= micropost.likes.where(disliked: true).count %>
                <span class="content">
                 <%= render partial: "shared/comment", locals: {micropost: micropost} %>
                </span>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>
