<!DOCTYPE html>
<html>
  <head>

    <title> Twitter Type Post </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% if false %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <!-- <%= debug(params) if Rails.env.development?%> -->
  </div>
</body>
</html>

  <!-- <body>
    <% if user_signed_in? %>
    <div class="buttons">
      <button class="button"><%= link_to("Logout", destroy_user_session_path, :method => :delete)  %></button>
    </div>
    <% end %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html> -->
